[2013-10-24 19:08] dragisak opened #1 "Display % coverage in the report"
Report in version 2.1.2 is just showing number of lines missed vs total. What happened with % coverage ?

[2013-11-08 13:39] #1 closed, assigned to nobody

[2013-11-16 21:20] muymoo opened #3 "jacoco:test runs in root working directory for sub projects instead of the current sub project's directory"
I am using Play 2.2.1 and jacoco4sbt 2.1.2
## Short version:

`play test` execute common subproject tests' `FakeApplication()` in the sub project's directory. `play jacoco:test` executes this `FakeApplication()` in the root directory.
## Long version:

I am trying to read the root's configuration file in my common subproject FakeApplication by running as:

[code]

This accesses the app.conf fine w

[2013-11-22 13:55] dmuchawiec opened #4 "Test resources are not found"
In my java (with play 2.2.0) project I tried to jacoco4sbt 2.1.2.
There are tests which needs some resources obtained in such way:

<pre><code> SomeTest.class.getResource("").getPath();</code></pre>

It works properly with play test, but fails with play jacoco:coverage. In the second case path points to target/scala-2.10/jacoco/classes instead of target/scala-2.10/test-classes

[2013-11-27 08:40] dmuchawiec opened #5 "jacoco.exec has different content (smaller) than HTML and XML reports"
In project with more than one test file binary report (jacoco.exec) needed for jenkins or Sonar coverage is much smaller than XML or HTML report.

[2013-11-27 09:22] retronym opened #6 "ClassCastException when using forked mode tests"
Example project: https://github.com/retronym/jacoco4sbt-demo/tree/bug/fork

[code]

[2013-12-04 23:50] philipmjohnson opened #7 "IncompatibleClassChangeError"
Greetings,

I had jacoco4sbt working fine with Play 2.1, but now with Play 2.2.0 and Scala 2.10.2, I am getting the following error:

[play-example-quality-assurance] $ jacoco:cover
[trace] Stack trace suppressed: run last jacoco:fullClasspath for the full output.
[error](jacoco:fullClasspath) java.lang.IncompatibleClassChangeError: class org.jacoco.core.internal.flow.ClassProbesVisitor has interf

[2013-12-18 10:02] paulmdavies opened #8 "Version 2.1.3 doesn't generate "classes" directory in "jacoco" output directory"
I'm running 2.1.3 in a simple scala project, and the test coverage using jacoco:cover is always 0 in the report, regardless of what tests I have. Dropping the version back to 2.1.2 solves the problem.

With 2.1.2, my target/scala-2.10/jacoco directory contains the "html" and "classes" directories and the jacoco.exec file. With 2.1.3, the "classes" directory is not created - presumably that's the r

[2013-12-22 15:25] jmhofer opened #9 "Make plugin work with forked tests"
As sbt has been supporting forked tests for quite a while now, jacoco4sbt should too.

There's two possibilities to implement this: Either use the JaCoCo Java agent for everything except merging and reporting, or pre-instrument and adapt the classpath (as done currently).

Handling forked tests should actually be easier than handling non-forked tests afaik...

[2013-12-23 15:36] #9 closed, assigned to nobody

[2013-12-24 00:42] #3 closed, assigned to nobody

[2013-12-24 09:22] #8 closed, assigned to nobody

[2013-12-26 22:42] gagnechris opened #10 "SBT 0.12.4 Supported?"
I'm still using SBT 0.12.4 and curious to know if it is still supported?  Here is I see after adding addSbtPlugin("de.johoop" % "jacoco4sbt" % "2.1.4")

[info] Resolving de.johoop#jacoco4sbt;2.1.4 ...
[warn]  module not found: de.johoop#jacoco4sbt;2.1.4
[warn] ==== typesafe-ivy-releases: tried
[warn]   http://repo.typesafe.com/typesafe/ivy-releases/de.johoop/jacoco4sbt/scala_2.9.2/sbt_0.12/2.1.4/i

[2014-01-06 16:51] rozza opened #11 "Merge reports for multi project builds"
I have a aggregated build eg (http://www.scala-sbt.org/0.12.2/docs/Getting-Started/Multi-Project.html) and I would like to get a single merged coverage report.

Currently each sub project has a coverage report which makes it hard to understand exactly what is and isn't covered.

[2014-01-16 08:20] danielgratzl opened #12 "Create junitxml report"
Currently i run my tests with "test-only -- junitxml console" to create junitxml report files for my tests which (used on ci-server).

With the jacoco plugin this is not possible. Is there a way to use jacoco while creating the junitxml files without running the tests twice?

[2014-01-16 08:25] #12 closed, assigned to nobody

[2014-01-16 10:47] danielgratzl opened #13 "itJacoco.settings undefined settings"
adding `itJacoco.settings` to my build.sbt files results in the following error.
`jacoco.settings`  works without problems.

[code]

[2014-01-22 10:12] java-developer opened #14 "Fail build if coverage drops below a certain level"
Hello,

Is there any chance you could add a feature to fail the build if coverage drops below a certain level?

Thanks!

[2014-02-27 09:07] jhberges opened #15 "Not running @RunWith(MockitoJUnitRunner.class)?"
I'm wondering if there's something I'm missing out on here...
I've a Mockito JUnit tests that just won't run under the jacoco4sbt managed tests?

Env:
- Play 2.2.1
- Java based app
- jacoco4sbt 2.1.4

Test is using Mockito 1.9.5 annotations:

[code]

When running `play test`

[code]

When running `play jacoco:test`

[code]

The qa.jacoco.sbt is:

[code]

Thanks.

[2014-02-28 17:30] gzoller opened #16 "Getting error when following wiki installation instructions"
Hello,

I get the error below when following the wiki instructions.  I have added the dependency line to my ./project/plugins.sbt file.

Loading /usr/local/bin/sbt_0.13.0/bin/sbt-launch-lib.bash
/Users/greg.zoller/git/shock/project/jacoco4.sbt:1: error: not found: object de
import de.johoop.jacoco4sbt._
       ^
/Users/greg.zoller/git/shock/project/jacoco4.sbt:5: error: not found: value jacoco
jac

[2014-02-28 17:32] #16 closed, assigned to nobody

[2014-05-05 06:00] analytically opened #18 "Upgrade to latest Jacoco to support Java 8"

[2014-05-06 17:59] #15 closed, assigned to nobody

[2014-05-10 14:11] #14 closed, assigned to nobody

[2014-05-10 14:11] #18 closed, assigned to nobody

[2014-05-12 20:34] apismensky opened #19 "sbt 0.13.0 -> 0.13.2"
I'm trying to migrate the project (Play2) from sbt 0.13.0 to 0.13.2. With new sbt version I have an issue when I run
`sbt clean jacoco:cover`
I have a bunch of exceptions that look like
java.lang.ClassCastException: java.lang.Long cannot be cast to [Z
[info]   at {MY_CLASS}.$jacocoInit({MY_CLASS})
for different classes in my project.
The exception looks similar to https://github.com/sbt/jacoco4sbt

[2014-05-23 06:13] leonardschneider opened #20 "java.lang.ExceptionInInitializerError on running jacoco:test"
On jacoco4sbt 2.1.5.

[code]

[2014-05-27 15:51] cuipengfei opened #21 "Branch coverage for a simple case class is very low"
[code]

the code is like the above.
when I run jacoco:cover, the result says:
all 16 branches missed
for the FailureResult case class.

and the pattern match code that uses the case class is like this:

[code]

and the results says that 1 of 2 branches missed for the second case.

is this because scala compiler generates extra code that has more branches than I intended in the scala code? and how

[2014-05-27 17:43] analytically opened #22 "Still issues with Java 8, upgrade to Jacoco 0.7.1"
See https://github.com/jacoco/jacoco/issues/201.

https://groups.google.com/forum/#!topic/jacoco/hA9AXRBvQk4

[2014-06-05 12:35] analytically opened #23 "ClassCast on sbt publish"
When I run sbt clean jacoco:cover publish I always end up with:

[code]

Just `sbt clean publish` works fine, just `sbt clean jacoco:cover` as well.

SBT 0.13.2 and 0.13.5, tried various things like setting publishMavenStyle to false.

[2014-06-20 05:47] nuaadupuliu opened #24 "No tests to run for jacoco:test"
When I run jacoco:cover with play 2.2.3 , the result is as following.
[info] Resolving org.jacoco#org.jacoco.agent;0.7.0.201403182114 ...
[info] Done updating.
[info] Passed: Total 0, Failed 0, Errors 0, Passed 0
[info] No tests to run for jacoco:test
[info]
[info] ------- Jacoco Coverage Report --------
[info]
[info] Lines: 0% (>= required 0.0%) covered, 0 of 0 missed, OK
[info] Instructions: 0%

[2014-06-20 06:09] #24 closed, assigned to nobody

[2014-07-06 18:24] schleichardt opened #26 "Add travis build/continuous integration job"
It would be nice to have a badge "build passing" for this project to see that it is tested and stable.

For my projects I use travis, it is free for open source projects and easy to [setup](http://docs.travis-ci.com/user/getting-started/).
- sign in
- add a file like https://github.com/schleichardt/jacoco4sbt/blob/travis-ci/.travis.yml
- you have a build for multiple JDKs like https://travis-ci.or

[2014-07-06 22:43] jasonchaffee opened #27 "Create a cross build for both 2.11 and 2.10"
It would be nice if the plugin would work with both scala versions.  Need to wait for the sbt release on 2.11 to support this.

http://stackoverflow.com/questions/23282469/does-sbt-builds-againts-scala-2-11

[2014-07-06 22:53] jasonchaffee opened #28 "Add support for auto plugins in sbt 0.13.5"
Add support for auto plugins in sbt 0.13.5

[2014-07-10 09:42] tutufool opened #29 "working with sbt-aspectj"
Hi,

I'm using sbt-aspectj plugin to do runtime weaving for my code.

The config for aspectj plugin is something like:

  lazy val aspectJSettings = aspectjSettings ++ Seq(
              aspectjVersion    :=  Dependencies.aspectjVersion,
      compileOnly in Aspectj    :=  true,
                fork in Test    :=  true,
         javaOptions in Test  <++=  weaverOptions in Aspectj,
          javaOp

[2014-07-13 05:32] #13 closed, assigned to nobody

[2014-07-13 06:28] #26 closed, assigned to nobody

[2014-07-13 06:30] #22 closed, assigned to nobody

[2014-08-06 16:49] fommil opened #32 "how to add javaOptions to the test task?"
I tried

[code]

but my settings are ignored. Actually, I would like to inherit my `javaOptions in Test` automatically if possible as I have a bunch of other stuff there.

[2014-08-06 16:51] fommil opened #33 "coveralls support"
have you considered coveralls support? It would be great to be able to publish coverage results in their format as it integrates well with CI like travis.

[2014-08-06 16:51] fommil opened #34 "fail build if coverage goes down"
it would be great to be able to specify a minimum coverage level, and the build fails if it is not met.

[2014-08-12 06:10] rokumar7 opened #35 "jacoco4sbt unable to perform code coverage with play 2.3.1"
Hi,

I am using jacoco4sbt to perform code coverage for an application deployed in play 2.3.1 (activator based).

When I run 'activator jacoco:cover' command, it gives me the following output.

[info] Lines: 0% (>= required 0.0%) covered, 1148 of 1148 missed, OK
[info] Instructions: 0% (>= required 0.0%) covered, 6535 of 6535 missed, OK
[info] Branches: 0% (>= required 0.0%) covered, 478 of 478 mi

[2014-09-18 01:39] rmmeans opened #36 "Conditional Merge of integration test set to false does not appear to be working"
I'm having problems getting conditional merge on the intergration tests set to false - I would like to maintain two separate reports.

Our build.sbt looks something like this (a few app specifics removed):

[code]

Note that I have the mergeReports of the itJacoco configuration turned off.

However, when I run a command such as this:
sbt clean-files clean compile jacoco:cover it-jacoco:cover
all t

[2014-10-29 10:00] patrik7 opened #40 "Jacoco running tests in parallel"
Hi,

Jacoco is an amazing tool, it wasn't too difficult to get it running. However, we are still strugling with parallel execution. When I use:
  sbt test

All runs sequential, but jacoco:check executes tests in parallel.

By in parallel, I mean multiple branches under the same spec2 scala file execute together. Otherwise different spec2 scala files are executing in sequence.

[code]

In the above

[2014-12-18 23:17] peter-fu opened #41 "Treat main project and sub projects as one single project"
I did this customization in [my fork](https://github.com/peter-fu/jacoco4sbt). Don't know whether it's a valid use case for other users.

For my case, I've been working on a project base on Play! Framework 2.2.x, it has modules, but all tests are in the main project. I don't think it's best practice, but we have to live with that for the time being.

The customization I made is in a hack style whi

[2014-12-19 15:34] stanch opened #42 "Could not initialize class org.jacoco.core.internal.flow.ClassProbesAdapter"
Hi,

I’m having trouble running jacoco in my project. Here is the trace from `last myProject/jacoco:fullClasspath`:

[code]

The project aggregates several subprojects, and I get this same error whether the settings are applied to it or just to a single subproject. The settings revelant for tests look like this:

[code]

[2014-12-21 10:18] gmixa opened #43 "Jacoco doesnot generate a coverage report"
Hi all,
If you have a set of tests and at least one test is failing, no coverage report is generated. I think it would be nice if the coverage report would be also generated in this situation. The coverage date seems to be generated anyways

Greetings

Gerald

[2014-12-21 14:45] peter-fu opened #44 "Respect jacoco.excludes in the instrumentation process"
Currently as for the version 2.1.6 of jacoco4sbt, `jacoco.excludes` is not respected during the instrumentation process.

Although I don't see any need to make the change form jacoco4sbt perspective, it would be helpful to make `jacoco.excludes` respected during the instrumentation process in order to make it possible for jacoco4sbt users to apply the easy workaround of https://github.com/jacoco/j

[2015-01-19 18:18] maxkremer commented on #20
Has anyone resolved this? I'm unable to get this working with forum thread link above.

[2015-01-19 20:02] marklieberman commented on #20
I was getting this exception when running jacoco:cover while trying to migrate from Play 2.2.x to Play 2.3.7 with Java8. (Still using Scala 2.10.4 though.) The only thing that solved it for me was to add the following to __project/plugins.sbt__.
[code]

[2015-02-06 17:00] javadshareefma opened #46 "Unable to run code coverage using sbt4jacoco"
I was following jacoco4sbt wiki to run Junit test cases of my existing project using jacoco. I am getting following exception while running below command.

    $ activator jacoco:cover
    [info] Loading project definition from /data/test/project
    [info] Set current project to test (in build file:/data/test/)
    java.io.IOException: Error while instrumenting class Routes$$anonfun$routes$1.clas

[2015-02-16 13:00] margussipria opened #47 "Upgrade jacoco library to 0.7.8"
Just so sbt-update would not show that new version is available :smile:

[2015-02-18 10:15] fgutmann opened #49 "include coverage of sub-project in parent reports"
Say we have project A which depends on B. There are tests in A but not in B.
When running jacoco:cover on A, the report only contains classes that are directly in A.
Is it possible to also include the coverage of classes in B?

[2015-04-03 04:32] inexplicable commented on #28
+1

[2015-05-28 01:54] linjer opened #51 "java.lang.OutOfMemoryError: unable to create new native thread when running large jacoco:test-only -- task on OSX 10.10 Yosemite"
I have a fairly large project with lots of tests and on my computer only, running `sbt "jacoco:test-only --` and `Keys.fork in jacoco.Config := true`, the task consistently dies at the same place, throwing `java.lang.OutOfMemoryError: unable to create new native thread`.

After much research, it looks like it may be due to the way the process allocates threads. Mac OSX seems to have a limit of 204

[2015-05-29 14:15] woezelmann opened #52 "java.io.IOException: Error while instrumenting class Global$1.class with Java 8"
After updating a play project to JAVA 8 instrumentation ("jacoco:cover") breaks with following error: `java.io.IOException: Error while instrumenting class Global$1.class`

Is this a know issue?

[2015-06-09 07:52] jarlah commented on #40
i also have this problem ..... i have added
[code]
But to no avail

[2015-06-10 12:19] jarlah opened #53 "jacoco:check it-jacoco:cover + threshold values"
I am not able to set threshold values that kick in for it-jacoco:cover. I can set thresholds for jacoco:cover, and i have tried the snapshot 2.1.7 and using aggregateThreshold on both jacoco and it-jacoco to no avail.

Any help on this?

[2015-06-12 13:53] cowboygneox commented on #53
@jarlah How did you set thresholds at all? I don't see that in the documentation anywhere...

[2015-06-12 14:01] jarlah commented on #53
@cowboygneox Simple. Searched on google and found Treshold example configuration in the source of this project.
https://github.com/sbt/jacoco4sbt/blob/master/src/main/scala/de/johoop/jacoco4sbt/Keys.scala#L44

Since IntegrationTest extend from Keys its a wild assumption that it should also work for integration tests.

[2015-06-12 14:02] cowboygneox commented on #53
@jarlah That's awesome. Thanks!

[2015-06-12 14:07] jarlah commented on #53
@cowboygneox No problems. If you for some reason find out how we can make this work for integration test coverage please let me know. I am hacking the sbt Test config atm listening to a system property and then including unmanagedsourcedirectory for integration tests into test config to get coverage on all tests both junit and integration

[2015-06-12 18:27] jarlah commented on #53
God this is so embarrassing...

[code]

I had tried:

[code]

but oviously the convention that you need to repeat itJacoco in two places made me use up to three days on this shit. Should really not have to think so much about this. Ideally I would like something more concise, like this code:

[code]

[2015-06-12 18:30] jarlah commented on #53
Issue can be closed. But documentation NEEDS to be updated with configuration for both junit tests and integration tests, so we (developers) can use less time spent on searching google and browsing the code for clues and getting our work done...

[2015-06-12 18:30] #53 closed

[2015-06-29 22:12] leoadnan opened #54 "Give own application.conf file when running test coverage"
Hi,

How can I give my one own application.conf file instead of default when run the coverage? I have configuration files based on different environment like (local, qa, prod). It contains properties like db connections detail and others. When I start server normally I use this

activator "run -Dhttp.port=9001 -Dconfig.file=conf/application-local.conf"

Regards
Adnan Ahmed

[2015-07-09 18:22] madhawa1984 commented on #15
Hi, i am using type safe activator for play project with java.
1. SBT VERSION - 0.13.0
2. scala version - 2.10.2
3. play version - 2.2.0

in the project i am having junit tests which uses mockito only for some test cases. when i run code coverage using jacoco4sbt  2.1.3 i getting coverage reports with 0% for all the test cases.Console shows that the All the test cases are executing when jacoco:cov

[2015-08-05 13:14] ahtik commented on #54
Did you try the following in your build.sbt ?
[code]

[2015-08-05 18:39] cowboygneox opened #55 "Please deploy 2.1.7"
I see there is support for aggregated builds, which I could really use right now. Can we make a deploy sometime soon?

[2015-08-18 06:48] cpbhagtani opened #56 "jacoco4sbt not working"
I want to setup Jacoco4sbt for my scala project. I followed the setup instruction mentioned here https://github.com/sbt/jacoco4sbt.

when I ran "sbt jacoco:cover" it throws the following error

build.sbt:8: error: not found: value jacoco

jacoco.settings

^

[error] Type error in expression

Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore?

My sbt version = 0.13
scala version = 2.10.4

[2015-08-20 16:22] emlagowski commented on #52
I have the same problem. Have you solved it?

[2015-08-21 16:01] scalame commented on #40
i'm having the same issue here

[2015-08-25 07:43] woezelmann commented on #52
No. Just removed code coverage.

[2015-09-09 06:08] zhengcan commented on #43
Agreed

[2015-09-09 07:25] zhengcan commented on #43
I've found a solution:

-- modify build.sbt as below --
[code]

[2015-09-15 20:19] scalame commented on #40
any update on this?

[2015-09-24 19:55] fcappi opened #58 "Jacoco do not include unmanaged resource into classpath"
This causes getClass().getClassLoader().getResource("resource_name.conf") to fail when running jacoco:cover

[2015-10-12 15:20] ronlawrence3 commented on #55
I have been waiting for this also. I'm currently using a really awful hack to merge my jacoco.exec files, and would really like to use this!

[2015-10-12 15:28] cowboygneox commented on #55
@ronlawrence3 I successfully built this plugin locally, installed it as a project/lib, and we are using it in our process right now. It was a little difficult to figure it out without docs, but I did get it working to aggregate coverage.

[2015-10-16 10:47] kangastalo opened #59 "Unable to run code coverage for integration tests in Play 2.4.2 project"
We are upgrading from Play 2.1.4 to Play 2.4.2 and we would like to start using jacoco code coverage for integration tests. I have added latest jacoco plugin to plugins.sbt (addSbtPlugin("de.johoop" % "jacoco4sbt" % "2.1.6")) and then defined itJacoco in build.scala (itJacoco.settings) as instructed in https://github.com/sbt/jacoco4sbt/wiki.

Now as I try to compile my project, I get these errors

[2015-10-20 15:22] stuartgmilton commented on #55
Please please please deploy 2.1.7

[2015-10-20 15:24] stuartgmilton commented on #55
@cowboygneox Any chance you could outline you steps?

[2015-10-20 16:18] cowboygneox commented on #55
@stuartgmilton I believe all I did was checkout the repo and do `sbt publishLocal`, and then I took the jar that was put into my local ivy cache into my project's `project/lib` folder. Try that.

[2015-12-14 17:45] rozuur commented on #52
I faced this issue with 2.1.4, and after updating to latest version this got resolved

[2016-02-01 17:48] silverberry commented on #20
I'm getting this exception with Play 2.3.9, Java 7, and Scala 2.11.7.

[2016-02-14 04:33] anildes commented on #59
Is there a solution I get the same issues

[2016-02-14 04:35] anildes opened #61 "[error] (jacoco:test) Expected dependency to fail."
info] Passed: Total 3, Failed 0, Errors 0, Passed 3
[error] (jacoco:test) Expected dependency to fail.
[error] Total time: 6 s, completed Feb 14, 2016 4:32:17 AM

Not sure why do I get this while running the tests with Jacoco:cover

[2016-02-18 19:55] maxkremer commented on #59
same here too

[2016-02-29 18:04] tha022 opened #62 "Execute code coverage for single test / test suite"
I have a Test Suite where I define all the tests I want to run.
This so I can start up a webserver and let it be "open" throughout execution of the whole test suite. That makes the test execution much quicker.

This is how I execute it:
[code]
But if I run:
[code]
It implicity executes
[code]
I tried:
[code]
But no luck, it still executes the "sbt test". Anyone who can point me in right direction?

[2016-04-11 19:04] benmccann opened #64 "Include licenses in build artifacts"
For an example, see: https://github.com/rtimush/sbt-updates/blob/master/publish.sbt#L9

[2016-05-13 07:37] hsupunw commented on #59
same here

[2016-06-14 09:54] analytically commented on #55
+1

[2016-06-16 00:39] fedork commented on #58
Is there a workaround for this?

[2016-06-21 13:32] raam86 commented on #62
Yes I am having the same issue

[2016-09-28 16:53] daniel9x opened #65 "jacoco:cover returns an null ScriptEngine object when getEngineByName("nashorn") is used"

[2016-09-28 16:54] daniel9x commented on #65
This is worked and verified in Java 1.8 and is verified when running sbt clean test and inside the intelliJ IDE

[2016-11-25 15:24] checat opened #66 "Random coverage in multi-project"
I've converted a mixed Java/Scala project into multi-project build, where
- root-project aggregates java-project, scala-project
- scala-project dependsOn java-project

When I run jacoco:cover on this project, it produces indeterministic coverage (lower than actual) when run as:
`sbt clean test jacoco:cover`
`sbt clean jacoco:cover jacoco:cover`
But if run immediately after clean
`sbt clean jacoco:

[2016-11-29 18:49] checat commented on #66
Workaround is `parallelExecution in Global := false`
Any of `parallelExecution := false`, `parallelExecution in Test := false`, `parallelExecution in jacoco.Config := false` do not help, jacoco:check is still run in parallel.

[2016-12-07 11:29] ravikiran1729 commented on #66
I had a similar issue, and once i placed "parallelExecution in Global := false" in sbt, all my testcases worked properly. Thanks a ton.... :) Cheers.

[2016-12-14 17:21] margussipria commented on #55
Isn't 2.2.0 available now? this could be closed?

[2016-12-14 19:29] subratmohapatra2005 commented on #3
@muymoo @ rmmeans - Can you please update the thread with an working example of build.scala. As we are also facing a similar problem

[2016-12-14 19:31] subratmohapatra2005 commented on #9
@jmhofer Does this help merging the unit tests across multiple modules in a play project into one merged report? If yes, can you please share a working example of build.scala

[2016-12-14 23:00] #55 closed

[2016-12-22 09:26] MSaifAsif commented on #62
Did anyone have any luck on how to achieve this so far?

[2017-01-20 19:55] daniel9x commented on #65
The current workaround is to have "fork := true" in my build.sbt. I'm not quite sure why that works.

[2017-03-07 12:15] tonicebrian commented on #47
We need that to show reports in Jenkins since it seems that 0.7.5 doesn't play with Jenkins Jacoco plugin. See https://issues.jenkins-ci.org/browse/JENKINS-28652

[2017-04-10 10:03] gomes-rocket commented on #59
Currently happening with plugin version 2.2.0

[2017-04-20 19:40] linjer commented on #47
I've taken a step towards addressing this in PR #67 . After this refactoring, it appears that we should be able to simply bump the version to 7.9 and cut a release.

[2017-04-21 23:20] #19 closed

[2017-04-21 23:20] benmccann commented on #35
I believe this works with newer version of both plugins

[2017-04-21 23:20] #35 closed

[2017-04-21 23:21] benmccann commented on #10
We aren't likely to support SBT 0.12

[2017-04-21 23:21] #10 closed

[2017-04-21 23:43] benmccann commented on #64
Fixed via https://github.com/sbt/jacoco4sbt/pull/68

[2017-04-21 23:43] #64 closed

[2017-04-21 23:51] benmccann commented on #52
This should be fixed by newer versions

[2017-04-21 23:51] #52 closed

[2017-04-22 01:04] benmccann commented on #47
@linjer it's not as simple as just bumping the version number unfortunately. Bumping to `0.7.7` or beyond causes the tests to fail

[2017-04-22 01:10] benmccann opened #70 "Release new version"
@jmhofer would you be able to release a new version? I merged a change to use a newer version of jacoco. I'm on vacation in Asia right now, and don't have my computer with my gpg key with me, so I'm unable to cut a release at the moment.

[2017-04-22 04:52] jmhofer commented on #70
published 2.3.0, thanks for your work!

[2017-04-22 04:52] #70 closed

[2017-04-22 09:46] benmccann commented on #70
Thanks!!

[2017-04-23 21:55] linjer commented on #47
@benmccann You're right. I made a mistake in my previous tests by not updating the version tested against. They were previously passing against plugin version 2.2.0, which was using jacoco 0.7.5. I'll look into upgrading soon.

[2017-04-24 18:21] linjer commented on #47
I believe this should now be addressed by PR #72 .

[2017-04-24 22:13] benmccann commented on #47
Fixed now. Thanks @linjer !

[2017-04-24 22:13] #47 closed

[2017-05-18 20:34] resamsel commented on #33
What exactly is the status of this issue? I'd like to see this happening quite badly...

[2017-05-18 21:09] fommil commented on #33
probably waiting for somebody who's desperate for it to happen to raise a pull request implementing the feature.

[2017-06-22 10:49] UnknownNPC commented on #66
Plus one for `parallelExecution in Global := false`. (y)

[2017-07-06 16:13] dmarjanovic94 commented on #29
Hi, @tutufool

Any progress on this? Currently, I'm issuing problem with **AspectJ Weaver Missing** message in tests. I need to provide path to **Java agent** `.jar`** in `javaOptions` but `sbt jacoco:cover` override that.  I'm using `sbt-aspectj-play-runner 1.0.1` and `sbt-aspectj 0.10.6`. Also, when I type `sbt test` it works fine.

Thanks in advance.

[2017-07-15 17:51] qyf404 commented on #59
same here too

[2017-07-19 08:43] gsaad commented on #59
same here too with plugin version 2.3.0 and 2.1.6

[2017-08-09 14:39] mattmacneille opened #74 "Issue using jacoco:cover with code that uses spring jdbcTemplate"
When running jacoco:cover, I am getting the exception below. I had a similar issue using sbt test, but using
fork in test := true resolved the issue in that case.

When I use fork in jacoco.Config := true, it does not resolve the issue for jacoco:cover. So the underlying issue must be different than when using sbt test.

Can anyone shed some light on this?

Thanks,
Matt

java.util.MissingResourceE

[2017-08-30 22:25] karthikkbaalaji commented on #62
+1

[2017-08-31 12:42] stringbean opened #78 "it-jacoco no longer generates execution data file for integration tests"
At some point between version 2.1.6 and 2.2.0 the generation of the execution data for integration tests (`target/scala-2.x/it-jacoco/jacoco.exec`) was broken. The merged data file gets created but it appears to only contain unit test results.

As the HTML report in `it-jacoco` gets generated from `jacoco-merged.exec` this results in either zero coverage (if the unit tests haven't run) or a duplic

[2017-09-01 18:40] KoenDG commented on #46
This is still a problem today. Was anything ever found that fixes this?

[2017-09-03 20:57] stringbean opened #80 "Plugin doesn't adhere to 1.0 best practices"
From the 1.0 plugin best practices the following need to be looked at:
- [x] [Follow the naming conventions](http://www.scala-sbt.org/1.0/docs/Plugins-Best-Practices.html#Follow+the+naming+conventions) - Plugin name should be `sbt-jacoco`
- [x] [Avoid namespace clashes](http://www.scala-sbt.org/1.0/docs/Plugins-Best-Practices.html#Avoid+namespace+clashes) - keys should start with `jacoco`
- [x]  [

[2017-09-03 21:08] stringbean opened #81 "Improve XML & CSV reporting to match HTML reports"
Currently there is no support for XML & CSV reports that are Scala language aware.

This leads to inconsistent reporting when using a CI server (such as Jenkins).

[2017-09-04 08:14] stringbean opened #82 "Add support for coverage in scripted tests"
It _should_ be possible to instrument scripted tests by using the JaCoCo Java agent when forking the SBT processes.

We should investigate adding another plugin to enable this - by doing this it'll be possible to get full coverage tests for SBT plugins 😄

[2017-09-04 08:25] stringbean opened #83 "Implement GitHub community best practices"
GitHub have added guidelines for OSS projects that we should try to implement.

- [x] Add [`LICENSE`](https://help.github.com/articles/adding-a-license-to-a-repository/) file.
- [x] Add [code of conduct](https://help.github.com/articles/adding-a-code-of-conduct-to-your-project).
- [x] Add [contributing guide](https://help.github.com/articles/setting-guidelines-for-repository-contributors).
- [x] A

[2017-09-04 08:26] stringbean commented on #83
We should work with the rest of the SBT org for the CoC, contributing and support guides.

[2017-09-04 08:27] stringbean opened #84 "Document migration from 2.x to 3.0"
The breaking changes in 3.0 should be documented in the wiki.

[2017-09-04 10:19] stringbean commented on #84
WIP docs: https://github.com/sbt/jacoco4sbt/wiki/Migrating-from-2.x-to-3.x

[2017-09-07 08:43] stringbean commented on #78
Fixed in 3.0.0-M1

[2017-09-07 08:43] #78 closed

[2017-09-07 08:43] stringbean commented on #28
Fixed in 3.0.0-M1

[2017-09-07 08:43] #28 closed

[2017-09-08 16:05] UnknownNPC commented on #59
Looks like play project requires additional `IntegrationTest` configuration:
1. `lazy val root = (project in file(".")).configs(IntegrationTest)`
2. Then, set next settings:
[code]
In general, there's no need to use `itJacoco.settings` in play 2, `jacoco.settings` should be enough.
Using `jacoco.settings` only, you are able to generate (jacoco:cover`) and aggregate  (jacoco:aggregateReport`) repor

[2017-09-10 22:36] #83 closed

[2017-09-14 08:25] karthikkbaalaji commented on #59
@UnknownNPC I tried using your method, I am getting the following error

[error] [/xxx/build.sbt]:125: illegal start of simple expression
[error] [/xxx/build.sbt]:129: ')' expected but eof found.

[2017-09-14 08:31] UnknownNPC commented on #59
@karthikkbaalaji ah, true. Try to remove comma char:
replace `resourceDirectories        in IntegrationTest <+= baseDirectory(_ / "tests" / "resources"),`
with this `   resourceDirectories        in IntegrationTest <+= baseDirectory(_ / "tests" / "resources")`

[2017-09-14 09:03] karthikkbaalaji commented on #59
Cool it worked, @UnknownNPC

I have following setup:
test/UT
test/IT

configuring this I can run it tests using itJacoco:cover
However, when I do jacoco:cover it runs both UT and IT

Is there a way to prevent jacoco:cover to not run IT Tests?

(Apologize if it's hijacking this thread)

[2017-09-18 12:26] stringbean commented on #80
Complete as of 3.0.0-M5

[2017-09-18 12:26] #80 closed

[2017-09-18 13:28] #84 closed

[2017-09-22 09:49] rpede opened #86 "Home wiki page is out-of-date."

[2017-09-25 09:25] eed3si9n opened #87 "org.scala-sbt organization name"
I just noticed the use of org.scala-sbt organization name.
Please change this to something else, like what it was before or com.github.sbt.

[2017-09-25 10:01] #87 closed

[2017-09-27 12:42] jypma opened #88 "Customization of jacocoReportSettings isn't picked up"
### Expected vs Actual Behaviour

I'm upgrading a build to SBT 1.0 and, hence, sbt-jacoco 3.0.1. My `build.sbt` has
[code]
which should trigger `sbt jacoco` to output XML instead of HTML, and ignore some packages. Neither setting is picked up; it always outputs HTML.

If I manually hack some values into `jacocoReport` directly, like
[code]
then it does start to output XML.

### Environment

* SBT

[2017-09-28 13:43] Z1kkurat commented on #88
I observe the same problem - I have  two subprojects. In each one I have settings as follows:
[code]
Still when I call `subproject1/jacoco` or `subproject2/jacoco` nothing happens and it's still `>= required 0.0%` in console report.

[2017-09-29 15:56] stringbean commented on #88
This is due to the settings only getting set for your root project and not the aggregated projects.

You will need to make the settings common by passing them [into the project](http://www.scala-sbt.org/1.x/docs/Multi-Project.html#Common+settings) or by using [build-wide settings](http://www.scala-sbt.org/1.x/docs/Multi-Project.html#Build-wide+settings).

[2017-09-29 15:57] stringbean commented on #86
Thanks for the prod. These should be up to date now.

[2017-09-29 15:57] #86 closed

[2017-09-29 17:45] Z1kkurat commented on #88
@jypma If you're having the same issue as me, I managed to overcome this by specifying `in Test` for `jacocoReportSettings`.
So my build.sbt is looking like the following:
[code]
Docs for this behaviour would be really cool.
And all parameters from `JacocoReportSettings` work fine for all projects.
But now I encountered another issue: if there is no code at all in project (neither in `src/main` no

[2017-09-29 18:19] Z1kkurat opened #89 "XML/CSV report format causing FileNotFoundException"
Problem appears on Windows.

When XML or CSV report is going first in list of formats, reporting fails with `FileNotFoundException`:
[code]

But when ScalaHTML or HTML is going first in list, everything is OK.

### Steps to Reproduce
- Jacoco configuration:
[code]
- Running
`sbt clean jacoco`

### Environment
* OS: Windows
* SBT version: 1.0.0
* Plugin version: 3.0.1
* Scala version(s): 2.12.3
* J

[2017-09-29 20:53] Z1kkurat opened #90 "Reporting for integration tests of multiproject builds is non-deterministic"
### Expected vs Actual Behaviour

In multiproject builds where multiple projects have integration tests, result of task `it:jacoco` is non-deterministic - you can observe any of subprojects randomly failing to meet requirements for some reason. Just like `fork in Test := true` with unit tests, it can be solved with `fork in IntegrationTest := true` but as it can be seen in [base plugin code](https

[2017-10-01 18:52] stringbean commented on #90
I think I might know why this is - the JaCoCo data gets stored in the plugin during the tests. As the tests are getting run in parallel then weird things can happen.

I'l take a look this week and find a better solution.

[2017-10-01 20:04] Z1kkurat commented on #90
@stringbean So, besides random test failing, there's still problem with `fork in IntegrationTest := true` which causes failure due to absence of jacoco agent. Do I need to create a separate issue for that, or just submit a PR, as I described in first post? I do think that plugin users shouldn't have trouble with forking during testing.

[2017-10-02 09:02] #89 closed

[2017-10-02 09:05] stringbean commented on #90
@Z1kkurat: please raise a separate issue.

[2017-10-02 09:16] #90 closed

[2017-10-02 09:24] stringbean opened #93 "JaCoCo agent doesn't get added to forked integration tests"
Mentioned in #90 by @Z1kkurat:

[2017-10-02 10:32] #93 closed

[2017-10-02 10:41] stringbean commented on #93
Fixed in 3.0.2

[2017-10-02 10:41] stringbean commented on #90
Fixed in 3.0.2

[2017-10-02 10:41] stringbean commented on #89
Fixed in 3.0.2

[2017-10-03 12:48] stringbean commented on #66
@checat can you please try with `sbt-jacoco` 3.0.2 and see if this fixes the issue?

[2017-10-03 12:54] stringbean commented on #56
Is this still an issue for you? If it is can you please try with `sbt-jacoco` 3.0.2?

[2017-10-03 12:56] stringbean commented on #40
I'm going to close this as `sbt-jacoco` 3.0 removes the `jacoco` configuration and runs the tests using the `test` configuration. If you have `parallelExecution in Test := false` set then it should be respected by `jacoco`.

[2017-10-03 12:56] #40 closed

[2017-10-06 17:54] checat commented on #66
Will try on next week

[2017-10-07 15:15] stringbean commented on #58
@fcappi & @fedork: can you try this with sbt-jacoco 3.0.2? The `jacoco` configuration has been removed so it _should_ pick up the resources without any issues.

[2017-10-09 20:44] checat commented on #66
Quick test on one of projects shows that bug has gone in 3.0.2

[2017-10-12 11:39] UnknownNPC commented on #36
@rmmeans sounds strange, but could you try to set `false` flag in next way: `itJacoco.mergeReports := false,` instead of `itJacoco.mergeReports    in itJacoco.Config := false`

[2017-10-13 03:58] tkidman commented on #53
Thanks for this - I had no idea how to configure these params.  Examples on the net are sparse ...

[2017-10-13 19:26] erikthered opened #96 "jacocoExcludes not working"
### Expected vs Actual Behaviour

Previously when the plugin was still jacoco4sbt (2.3.0), I had the following exclusions and it seemed to work fine:
[code]

I switched it to the following, and now it doesn't seem to be excluding anything:
[code]

### Steps to Reproduce

Add to plugins.sbt
[code]

Run tasks
[code]

### Environment

* SBT version: 1.0.2
* Plugin version: 3.0.2
* Scala version(s): 2

[2017-10-16 10:27] stringbean commented on #96
Can you try changing it to:

[code]

[2017-10-16 13:22] erikthered commented on #96
That worked perfectly @stringbean, thanks for the help!

[2017-10-16 13:22] #96 closed

[2017-10-20 16:08] vallim opened #97 "How to configure unmanaged resource directory in sbt-jacoco 3.0.2?"
### Actual Behaviour

I was using the old version of jacoco over this configuration:

**_plugins.sbt_**
[code]
**_build.sbt_**
[code]
### Expected Behaviour

Now I'm migrating to use the jacoco over this configuration:

**_plugins.sbt_**
[code]
**_build.sbt_**
[code]

### Environment

* SBT version: 0.13.5
* Plugin version: 3.0.2
* Scala version(s): 2.11.7
* Java version: 1.8.0

[2017-10-23 12:46] stringbean commented on #97
sbt-jacoco should pick up the settings from the `Test` configuration so in your example:

[code]

Should be sufficient. I've added a scripted test that shows a very simple example of this: [sbt-jacoco/unmanaged-resources](https://github.com/sbt/sbt-jacoco/tree/master/src/sbt-test/sbt-jacoco/unmanaged-resources)

[2017-10-23 17:02] #88 closed

[2017-10-23 17:04] stringbean commented on #88
It should no longer be necessary to specify `in Test` for the settings from 3.0.3 onwards.

[2017-10-24 10:36] #66 closed

[2017-10-24 21:25] vallim commented on #97
Thanks @stringbean. It worked like a charm!

[2017-10-24 21:26] #97 closed

[2017-10-30 14:35] stringbean commented on #27
Closing as sbt 1.0 is supported with Scala 2.12 support.

[2017-10-30 14:35] #27 closed

[2017-11-01 17:57] rufusmsbennett opened #100 "sbt-jacoco plugin not getting executable data from jacoco agent when runing It tests"
### Expected vs Actual Behaviour

Problem ...
We run our service in a separate bash shell on localhost and run "it:jacoco" in another shell to execute our tests. When the tests are complete and the report is generated, we see no coverage from the server side, as if no executable data was retrieved from the jacoco agent. Apparently, it never dumped its executable data, or if it did, the plugin does

[2017-11-03 11:14] rmmeans commented on #36
I no longer use jacoco, so unless this is of value to someone else, feel free to close.

[2017-11-10 10:45] emac opened #101 ""Method code too large!" exception is thrown when routes file is large"
### Expected vs Actual Behaviour

My project uses Play framework and contains a large `routes` file, more than 1000 lines. When I run `sbt jacoco` command in command line, it throws "Method code too large!" exception (see below). The reason is that Play framework automatically generates a bunch of classes from `routes` file, and one class contains a large method that violates JVM's limitation that

[2017-11-23 14:22] maichler commented on #62
Since version 3.x sbt-jacoco seems to instrument code not only for task `jacoco` but also for `test` and `testOnly`. This allows to combine e.g. `testOnly` and `jacocoReport` to generate a coverage report.

[code]
`clean` is necessary because coverage data gets merged instead of replaced. It would be enough to just delete `target/jacoco/data/jacoco.exec` before executing `testOnly` but there is no

[2017-11-27 07:18] gmkumar2005 commented on #62
Not working.  I have done ;clean;testOnly  **.MyFavouriteDaoTest;jacocoReport

The report shows 0% coverage. I have noticed After completion of testOnly

 `target/jacoco/data/jacoco.exec` is not created.

When i run all test cases the results are proper.
Any one got this working ?

[2017-11-27 08:52] maichler commented on #62
I've rechecked my project settings and noticed that I missed a detail:

[code]
With `fork` enabled, jacoco is able to load its agent via commandline arguments.

[2017-11-27 14:54] gmkumar2005 commented on #62
Issue is resolved after I added `fork in Test := true`

[2018-01-03 23:45] karthikkbaalaji opened #103 "enablePlugins(JacocoItPlugin) resulsts in Runtime references to undefined settings"
### Expected vs Actual Behaviour

It should...
run the IT test when I enable JacocoItPlugin

Instead it...
Runtime references to undefined settings:
example/it:jacoco from root/it:jacocoAggregate (BaseJacocoPlugin.scala:73)

### Steps to Reproduce
I have the following project settings

example-play-app
|--main
|----build.sbt
|--modules
|----build.sbt
|--example
|----build.sbt
|--build.sbt

In the

[2018-01-03 23:46] karthikkbaalaji commented on #103
@stringbean could you take look at this issue?

[2018-01-05 11:35] dorianboulch opened #104 "Jacoco and Sonar PlayFramework 2.6"
I'm using sbt-jacoco with a Play Framework (v2.6) and Sonar (sbt-sonar-scanner-plugin).
When I run `sbt jacoco ` and then `sbt sonar` I have this error :
`(*:sonar) java.lang.IllegalStateException: Line 13 is out of range in the file app/model/MyModel.java (lines: 10)`

In Play, there is by default a plugin "sbt-play-enhancer" that generates getters/setters automatically. I suppose sonar doesn't e

[2018-01-22 10:05] stringbean commented on #103
Sorry for the delay in replying.

Have you tried adding `JacocoItPlugin` to the `enablePlugins` for `common`, `example` and `main`?

[2018-01-22 19:20] checat opened #105 "Unscoped task does not work when another AutoPlugin declares projectConfigurations"
### Expected vs Actual Behaviour

It should...

Both `jacoco` and `test:jacoco` should work.

Instead it...

[code]

### Steps to Reproduce

build.sbt
[code]

project/MyPlugin.scala
[code]

project/build.properties
[code]

project/plugins.sbt
[code]

### Environment

* SBT version: 0.13.16
* Plugin version: 3.0.3
* Scala version(s): 2.12.4
* Java version:
java version "1.8.0_131"
Java(TM) SE Runti

[2018-01-23 08:50] dorianboulch commented on #104
Someone to help me ?

[2018-01-26 08:51] karthikkbaalaji commented on #103
@stringbean same error even with enable plugins for common, example and main

[code]
Error:
[code]

[2018-01-26 23:16] karthikkbaalaji commented on #103
@stringbean it worked after adding **.configs( IntegrationTest )** to each root, common, main, example.

Thanks for looking into it, but this needs to be documented.

[2018-01-26 23:16] #103 closed

[2018-01-29 04:35] rmcloughlin opened #106 "Upgrade to JaCoCo 0.8.0"
JaCoCo 0.8.0 is out now:  https://github.com/jacoco/jacoco/releases

sbt-jacoco currently depends on version 0.7.9

[2018-02-10 02:50] chadselph opened #107 "Documentation link is broken"
### Expected vs Actual Behaviour

It should...

give me documentation when I go to http://scala-sbt.org/sbt-jacoco

Instead it...

redirects me to https://www.scala-sbt.org/

[2018-02-10 03:03] chadselph commented on #58
it's not working for in 3.0.3, but I'm open to the possibility I've done something wrong.

I'm just using the default `src/test/resources/...` location; the tests work with `sbt test` but when running `sbt jacoco` it can't find the files.

[2018-02-10 15:19] stijndehaes commented on #106
I quickly tried the upgrade and got two compile errors one was easily fixed. By using
`CRC64.classId(..)` instead of `CRC64.checksum(..)`.

The other compile error is also in the class FilteringClassAnalyzer on line 67 a new MethodAnalyzer is returned except in jacoco 0.8.0 the constructor for this method is not publicly accessible anymore. And I don't know what to change this to without spending

[2018-02-11 01:56] dorianboulch commented on #104
Is this repo still maintained?

[2018-03-05 20:37] KoenDG commented on #101
Also affected by this issue, using Play 2.6.6 and scala 2.12.3.

Using Play 2.6.5 and scala 2.11.11, everything works fine, all code and routes file is identical.

Both times, plugin version 3.0.2

[2018-03-08 16:31] BowlingX opened #108 "Coverage not properly calculated for multi-project builds"
### Expected vs Actual Behaviour

I have a multi project build like:

[code]
When I run `jacocoAggregate` it correctly executes the tests and generates the aggregated report. But it won't calculate correctly overlapping calls to classes. E.g. having a class `Controller` inside the `backend` project calling a class that's inside the `library` project won't show any coverage for the class inside the

[2018-03-08 17:00] BowlingX commented on #108
Nevermind, I can't reproduce the behaviour after restarting sbt and running a clean build, must have been a glitch.

[2018-03-08 17:00] #108 closed

[2018-03-22 11:33] adrianprecub opened #110 "JacocoItPlugin not working"
### Expected vs Actual Behaviour

Run jacoco for integration tests

Instead throws an error when i enable JacocoItPlugin.

### Steps to Reproduce
I removed the below lines from my build.sbt
[code]
And enabled plugin JacocoItPlugin along with the playjava plugin: enablePlugins(PlayJava, JacocoItPlugin)
I also have these settings in my jacoco.sbt file:
[code]
When i try to run
[code]
i get the follo

[2018-04-02 19:50] NJ-Developer commented on #96
I want to exclude some packages from coverage report may anyone help with it.
for sbt.

[2018-04-03 18:35] aok-solutions commented on #110
Try adding those values back to your `build.sbt` and see what happens. That's what worked for me.
[code]

[2018-04-05 12:59] kieranbop commented on #6
I recently observed this when trying to use sbt-cucumber with jacoco. See link here: https://github.com/sbt/sbt-cucumber/issues/1

[2018-05-18 06:16] gnimeh opened #111 "3.0.3 is not support Jdk 10?"
### Expected vs Actual Behaviour

I have a play java application, and I used sbt-jacoco 3.0.3 to scan coverage for java code. When I execute sbt test , I have this error:
[code]

And I change my local java env to jdk 8, It works fine. So it means sbt-jacoco 3.0.3 is not support java10 yet?

### Environment

* SBT version:1.1.2
* Plugin version: 3.0.3
* Java version: java 10

[2018-06-10 20:14] eatkins opened #113 "Filters don't work on windows"
Suppose we have a project with classes in a package `foo.bar`. If we add `jacocoExcludes in Test := Seq("foo.bar.*")` to the build.sbt, then classes in `foo.bar` are excluded on osx and linux, but not on windows.

### Expected vs Actual Behaviour

It should...
exclude files on windows
Instead it...
includes classes matching the filter above

### Steps to Reproduce
see above

### Environment

* SBT

[2018-06-16 03:30] #58 closed

[2018-06-19 08:47] dbhatte commented on #106
I also tried the same. But, it cannot be done as we are relying on the internal implementation.
See the bug report that I raised on jacoco
https://github.com/jacoco/jacoco/issues/698#issuecomment-398157412

We will need to refactor the sbt-jacoco codebase. Anybody wants to take this up?

[2018-06-19 09:21] marchof commented on #106
I'm a developer from the JaCoCo project. I see sbt depends on internals because it implements its own filters for Scala artifacts.

At JaCoCo we now have many filters in place, e.g. for Kotlin, Lombok etc. What about contributing Scala filters to the JaCoCo project?

[2018-06-21 12:53] #33 closed

[2018-06-25 10:21] stringbean commented on #111
It looks like JaCoCo added support for Java 10 in [0.8.1](https://github.com/jacoco/jacoco/releases/tag/v0.8.1) (sbt-jacoco currently uses 0.7.9).

It's looking like support for JaCoCo 0.8 is going to take some time to implement (#106). Sorry if this is a major issue for you.

[2018-06-25 10:24] stringbean commented on #106
Thanks for the input @marchof.

When I took over the project the filters were still in the early stages of development. Now that they've shipped I'll take a look and see what we can do!

[2018-08-07 13:59] pradeepreddyk commented on #62
fork in Test :=true would run all the tests in sequence. Is there any option to keep the parallel execution true.

[2018-08-08 14:03] rania-globalorange commented on #110
That fixed it for me too, thanks! The documentation is a bit misleading
https://github.com/sbt/sbt-jacoco/wiki/Migrating-from-2.x-to-3.x#changes-to-plugin-loading

[2018-08-27 13:44] #34 closed

[2018-08-27 13:44] #32 closed

[2018-09-18 13:43] dbhatte commented on #106
You solve this problem by overriding the Jacoco version in the plugins.sbt
e.g.
`dependencyOverrides  ++= Seq(
  "org.jacoco"                  %  "org.jacoco.core"      % "0.8.2",
  "org.jacoco"                  %  "org.jacoco.report"    % "0.8.2",
)`

This also solves the problem of making Jacoco work with Java 10

[2018-10-17 01:50] MarkJiaLinWu commented on #104
the same to you . I don't have the coverage showed in sonar

[2018-11-07 14:01] HugoTigre opened #117 "excludes not working"
### Expected vs Actual Behaviour

I have a ```Method code too large!``` error, in a class the java runs fine. For now I don't want to change the class so I want to exclude it from instrumentation, but this is not working.

I tried several approaches in sbt, but none is working, for example

[code]
then adding ```jacoco``` to project settings.

also:
[code]

Tried several combinations of the class

[2019-02-13 09:58] davidgfolch commented on #62
Same here

[2019-03-27 21:09] JJonesAtAvaya opened #118 "sbt-jacoco does not work with Java 11"
### Expected vs Actual Behaviour

It should...

Work with Java 11

Instead it...

Gives errors like this:

[debug] Found jacoco agent: Vector()
[debug] instrumenting /Users/foo/src/abc/foo-api/target/scala-2.12/classes/configurations/CustomObjectMapper.class
[error] java.io.IOException: Error while instrumenting class CustomObjectMapper.class.
[error] 	at org.jacoco.core.instr.Instrumenter.instrum

[2019-04-04 18:47] fabianedl777 commented on #117
any progress for this issue?

[2019-04-04 18:48] daemonsoft commented on #117
also I have this problem

. SBT version: 1.2.3
. Plugin version: 3.1.0
. Scala version(s): 2.12.2
. Java version: 8

[2019-04-04 18:50] jpoh97 commented on #117
Any news?

[2019-04-10 19:53] gokhanoner commented on #110
@rania-globalorange can you share your `build.sbt` & `jacoco.sbt` files, at least related sections. I'm trying to do the same & getting the exact same error :(

[2019-04-16 00:01] raphaelNguyen commented on #118
I have this issue as well. I went on jacoco repo and had a look. It seems like that jacoco did not support JDK 11 and they have already released version 0.8.2 which does this (please see jacoco/jacoco#663). Is it possible for sbt-jacoco to use the new version?

[2019-04-19 04:26] #118 closed

[2019-05-07 09:53] raboof commented on #106
It looks like this was achieved by #119 ?

[2019-05-09 13:12] dbhatte commented on #106
Yes, I think so

[2019-05-10 07:59] pitschr opened #120 "Test resources not found because in wrong class folder"
### Expected vs Actual Behaviour

Hello.

I am facing the similiar issue in https://github.com/sbt/sbt-jacoco/issues/4 but it is a single project (not a multi-project) and I am in a different path. The test resouces are subject to be called using `WithMockedApplication.class.getResource(".... file name ...");`

When running through SBT terminal it is failing to find the resources because it is in

[2019-05-27 07:59] SahilAggarwalG commented on #106
when new version of sbt-jacoco will release with jacoco 0.8.2

[2019-05-27 09:01] SahilAggarwalG commented on #106
when i did this i got the following error :
java.lang.NoClassDefFoundError: org/jacoco/agent/rt/internal_28bab1d/Offline,

[2019-06-13 20:48] demjened commented on #106
@SahilAggarwalG I managed to get JaCoCo working with Java 11 / Scala 2.12.8 / SBT 1.2.8 by making the following changes:
[code]
(Maybe some of these can be left out, I haven't tried.)

That said, getting `sbt-jacoco` work on Java 11 without this hack would be really great, so I'm looking forward to the 4.0 release. This is the best plugin for SBT/JaCoCo and I haven't found any alternatives that cu

[2019-07-05 11:37] siovene opened #121 "Coveralls plugin incorrectly reports branch name as git commit hash"
### Expected vs Actual Behaviour

It should correctly report the branch name to Coveralls.

Instead it uses the hash of the current git commit.

### Steps to Reproduce

With the following settings in `build.sbt`:

[code]

the coveralls page reports the branch name as the current git commit, instead of the actual branch name. This makes it impossible to merge reports from multiple CI pipelines (e.g

[2019-07-09 10:50] dragonjuggler opened #122 "Release ETA of version 3.2.0?"
I'm interested in the 3.2.0 version which will use JaCoCo version 0.8.2.  Is there an expected ETA for this release?  I noticed that the change to upgrade to 0.8.2 was made 3 months ago, but there hasn't been a release since last year.

BTW - I couldn't find another avenue to ask this question.  If I followed the wrong process, what's the right way to do this?

Thanks.

-Mark

[2019-07-11 19:22] master-elodin commented on #122
Looks like it's released already: https://bintray.com/stringbean/sbt-plugins/sbt-jacoco/3.2.0

The GitHub page hasn't been updated with the version, though

[2019-07-11 19:25] master-elodin commented on #117
This configuration is working for me to exclude `ServiceFoo` and `ServiceBar`; maybe it will work for you too?

[code]

[2019-07-11 19:56] dragonjuggler commented on #122
Interesting.  Since the release did not look the same as the others, with the various tags, I assumed it wasn't "official".  I just tried using it, and ti works.  Thanks!

[2019-08-15 13:25] axaluss opened #123 "Cyclomatic Complexity not shown"
### Expected vs Actual Behaviour

It should show the Cyclomatic Complexity at least in the class details tab (where the method stats are shown).

Instead it does not show the complexity.

### Steps to Reproduce

[code]
then in the html report look at any class report.

[2019-08-15 13:40] axaluss opened #124 "what do the printed stats mean?"
[code]
What does `Complexity: 25.83%` even mean?

### Expected vs Actual Behaviour

It should explain somewhere what the printed stats even mean.

[2019-09-22 20:22] margussipria commented on #42
Just managed to get this same error after upgrading from `3.1.0` to `3.2.0`. No info what causes it.

[code]

There are several files that give this error, but this is one of them:
[code]

Manually upgrading to `0.8.4` resolves problem for me.

add this to **project/plugins.sbt** after `addSbtPlugin("com.github.sbt" % "sbt-jacoco" % "3.2.0")
`
[code]

[2019-11-20 09:12] Miuler commented on #122
Please sbt-jacoco, update the documentation, and change 3.1 by 3.2 in https://www.scala-sbt.org/sbt-jacoco/
The 3.1 version have issues with java 11 :(

[2020-01-15 09:52] rania-globalorange commented on #110
@gokhanoner Sorry it took a while, this is what I have

lazy val root = (project in file("."))
  .enablePlugins(JacocoItPlugin)
  .configs(IntegrationTest)
  .settings(inConfig(IntegrationTest)(Defaults.itSettings): _*)

[2020-01-22 16:19] wei-hai-pai commented on #20
I am getting the same exception with sbt 1.3.3, Java 8 and scala 2.13.1

[2020-03-18 10:05] IlyaScorp commented on #5
Same issue.
HTML report show 75% code coverage, but Sonar (using xml report) show only 67,4%

[2020-05-27 05:49] csekol commented on #56
Same here. I tried with sbt-jacoco versions: 3.0.2, 3.1.0 and 3.2.0

I am trying to run sbt-jacoco on a play java application
sbt version: 0.13.8
play version: 2.4.11
scala version: 2.11.6

If I remove "jacoco.settings" from build.sbt and execute "sbt jacoco", it runs, generates the exec file, but not the report. I can generate the report based on the exec file using cli. Is there a separate comma

[2020-06-24 07:05] jeffrey-aguilera opened #129 "Is this project dead?"
### Expected vs Actual Behaviour

It should...

Instead it...

### Steps to Reproduce

[code]

### Environment

* SBT version:
* Plugin version:
* Scala version(s): _(include all versions if cross-building)_
* Java version:
* Link to project source: _(if available)_

[2020-09-14 11:42] aamrute-idnow opened #130 "any plan to upgrade to 0.8.5 (or at least this 0.8.3 where official support for jdk11) ?"
Hi,
Any plan to update jacoco version ?
Thanks

[2020-10-23 19:24] gzoller commented on #130
This is great!  I need 0.8.6 to support JDK > 12 as well.

[2020-10-27 14:59] gzoller opened #132 "Stock project doesn't build"
### Expected vs Actual Behaviour

It should... build successfully unmodified from master branch

Instead it...  fails with an error when sbt starts

### Steps to Reproduce

[code]

Error:
[code]

### Environment

* SBT version: project-specified
* Plugin version: ???
* Scala version(s): _(include all versions if cross-building)_
* Java version: Oracle 13.0.1  (Tried with JDK11 and got different er

[2020-10-29 16:39] gzoller commented on #130
Just completed a PR that passed that moves to jacoco 0.8.6.  Unfortunately it was too much of a stretch (for me anyway) to maintain support all the way back to pre-1.0 sbt, scala 2.10, etc.  So this standardizes on Scala 2.12.12, Jdk13, and sbt 1.3.4.

[2020-11-05 11:08] jonathanandrade10 commented on #117
any updates on this ?

[2020-11-10 15:10] ca7erina commented on #117
I have tried to add the below code to my "build.sbt", doesn't seem to make any difference, I still get the instrumentation error about "method too large", can anyone provide a working exclude example? or how to exclude files from instrumentation?

 ```jacocoExcludes := Seq("**/*")```

[2020-11-10 15:14] ca7erina commented on #101
Is there any working solution for this "method too large" problem? how can I exclude the file from instrumentation so far? I see this PR still open, is there any workaround? my problem is the "Route.class" is huge

[2020-11-10 15:22] tachucj commented on #101
When I faced this I had to split routes file. No other solutions for me.

[2020-11-11 10:55] aamrute-idnow commented on #130
Could someone please merge the PR

[2020-11-11 16:05] mgor commented on #101
Since it's a "hard" limit in the JVM, you'd have to make sure that you instrumented code fits within the size limit, hence as @tachucj says; split up the big classes and/or methods.

[2020-11-12 22:19] #101 closed

[2020-11-12 22:20] eed3si9n commented on #130
Fixed in https://github.com/sbt/sbt-jacoco/pull/133

[2020-11-12 22:20] #130 closed

[2020-11-13 01:19] eed3si9n commented on #129
I'm not sure, but I just merged/closed pending PRs.

[2020-11-13 01:19] #129 closed

[2020-11-13 01:26] eed3si9n commented on #106
Closing this as fixed in https://github.com/sbt/sbt-jacoco/pull/119

[2020-11-13 01:26] #106 closed

[2020-11-13 01:28] eed3si9n commented on #111
Fixed in https://github.com/sbt/sbt-jacoco/pull/119

[2020-11-13 01:28] #111 closed

[2020-11-13 01:34] eed3si9n commented on #132
We build it using JDK 8, so I don't think this is an issue.

[2020-11-13 01:34] #132 closed

[2020-11-13 01:44] eed3si9n commented on #124
I don't know much about this project but as far as I can tell sbt-jacoco is printing out the information supplied by JaCoCo. The explanation for these metrics I think is available here - https://www.eclemma.org/jacoco/trunk/doc/counters.html

"complexity" here seems to be short for cyclomatic complexity, which measures how branchy/loopy your method implementation is. _Covered_ would mean that the

[2020-11-13 01:44] #124 closed

[2020-11-13 04:53] eed3si9n commented on #122
3.3.0 is released, and I also updated the doc.

[2020-11-13 04:53] #122 closed

[2021-01-02 17:14] samudurand opened #136 "Apply threshold only after both unit and it tests run"
### Expected vs Actual Behaviour

When using both unit tests and integration tests, it should be possible to apply the coverage only after all tests have run.

Currently running `sbt jacoco it:jacoco` with thresholds set, will fail after the run of the unit tests, if the unit tests are not enough to ensure coverage by themselves (which is the case in my app, I need both type of tests to properly c

[2021-01-02 18:16] samudurand commented on #136
I should have been using a different setting

[2021-01-02 18:16] #136 closed

[2021-01-02 18:22] samudurand opened #137 "Merged report setting not working"
### Expected vs Actual Behaviour

I have been trying to use the `jacocoMergedReportSettings` setting to set the merged threshold but it has no effect. The `jacocoReportSettings` does work as expected.

### Steps to Reproduce

Add the setting `jacocoMergedReportSettings` into a project that has both unit and integration tests

[code]
Execute ` sbt clean jacoco it:jacoco`, and check the output:

[co

[2021-01-02 23:15] eed3si9n commented on #137
I'm not familiar with this plugin, but looking at the source the setting is scoped to `IntegrationTest` https://github.com/sbt/sbt-jacoco/blob/master/src/main/scala/com/github/sbt/jacoco/JacocoItPlugin.scala (although it doesn't have to be), so to rewire it you'd also need to scope it to `IntegrationTest`. Try:

[code]

[2021-01-03 11:25] samudurand commented on #137
Thanks @eed3si9n ! That was it, the docs are a bit light on settings usages if you are not too familiar with Sbt syntax

[2021-01-03 11:25] #137 closed

[2021-04-06 10:38] pitschr commented on #120
In case someone is interested how I resolved it. I am fetching the correct path using this method from an utility class called `TestResources` .

[code]

Have not found a cleaner solution yet, but the method above seems be reliable more than 1 year.

[2021-10-06 05:32] gokhanoner opened #138 "Java 17 support"
current version of jacoco used, 0.8.6, doesn't support Java 17, support added in 0.8.7.

Currently it throws below exception due to asm version used

[code]

Is it possible to do a release a version with latest jacoco version? (Probably using latest versions of other libraries as well, like sbt etc.)

[2021-10-06 13:03] SethTisue commented on #138
Version bump PRs would be welcome.

[2021-10-14 18:55] SethTisue opened #140 "Replace Bintray-based publishing with Sonatype"
I strongly suggest using sbt-ci-release, which is increasingly standard these days in Scala OSS.

[2021-10-14 19:00] SethTisue opened #141 "Rename `master` branch to `main`"

[2021-10-14 19:04] #141 closed, assigned to SethTisue

[2021-10-14 19:10] SethTisue opened #143 "Enable Scala Steward"

[2021-10-14 19:12] #143 closed

[2021-10-30 09:13] pjfanning opened #173 "update docs due to codecov uploader being deprecated and replaced"
https://docs.codecov.com/docs/about-the-codecov-bash-uploader

[2021-10-30 15:00] #173 closed

[2021-10-30 18:35] eed3si9n opened #175 "ghpagesPushSite no longer works"
### Expected vs Actual Behaviour

It should publish site.

Instead it fails to build paradox.
After removing paradox plugin, the site doesn't actually build anything and deleted html files.

### Steps to Reproduce

[code]

[2021-10-30 20:06] #175 closed

[2021-11-09 15:47] plouf142 opened #179 "Coverage for java code files"
### Expected vs Actual Behaviour

It should have coverage report for all source, java source AND scala source.

Instead it, I get a voerage report only for scala source.

### Steps to Reproduce

Any Play Framework with Java language and unit tests...

And run sbt jacoco.

Examine the html report. Only scala files are listed.

### Environment

* SBT version: 1.3.13
* Plugin version: 3.4.0
* Scala v

[2022-02-11 18:47] plouf142 commented on #179
After various tests, I found a clue for this issue in the [Jacoco FAQ](https://www.jacoco.org/jacoco/trunk/doc/faq.html), question **Why does a class show as not covered although it has been executed?** I followed the various suggestions, without success.

But now I wonder if this is really the way to go. In any case, the java classes are well instrumented, it is only when generating the report th

[2022-08-12 12:11] abdelrahmanmohamed1990 commented on #104
having the same issue play 2.8

[2022-08-16 17:59] jonvnieu commented on #179
Our project is running into the exact same issue. Are there any updates or known workarounds for this?

[2022-09-19 16:26] sai1427 commented on #104
Can you provide sonar version which you are using? Report generation is dependent on sonar version

[2022-10-17 02:01] muncleben commented on #117
It does not work for me. I'm using 3.4.0

[2022-10-17 07:31] muncleben opened #234 "jacocoExcludes setting does not work"
### Expected vs Actual Behaviour

It should be set correctly with jacocoExcludes like below:
`jacocoExcludes := jacocoExcludes(Seq("com.bpshare.Application"))`

Instead it shows error: Type mismatch
Refer to the attachment screenshot for details.

### Steps to Reproduce

In build.sbt file, try to exclude main Scala file with `jacocoExcludes := jacocoExcludes(Seq("com.bpshare.Application"))`,

but

[2022-11-02 16:31] Montagon commented on #117
Hi all,

In my case, it worked adding using the same approach that in issue #96. It was adding `.*` to the class ref. For example:

[code]

Hope it works for you.

[2022-11-29 07:26] Zejnilovic commented on #234
Hello @muncleben, while I am just a user, I might have a solution for you.

[code]

No need to wrap it in the second `jacocoExcludes`.